{% extends 'base.html' %}

{% block title %}
 Change password
{% endblock title %}

{% block content %}
<div class="container my-5">
<h1>Change password</h1>
<form action="" method="POST">
     {% csrf_token %}
     {{ form.as_p }}
     <button class="btn btn-primary">Change</button>
</form>
</div>
{% block js %}
<script>
     const old_password = document.getElementById('id_old_password');
     const new_password1 = document.getElementById('id_new_password1');
     const new_password2 = document.getElementById('id_new_password2');

     old_password.classList.add('form-control');
     new_password1.classList.add('form-control');
     new_password2.classList.add('form-control')
</script>
{% endblock js %}
{% endblock content %}